
<%= render partial: "sidenav" %>
<section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">Settings</span>
    </div>
  </section>
  
  <div class="one"></div>