<%= render partial: "sidenav" %>
<section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">Administration</span>
      
      
    </div>
    <div style="padding-left: 20px" >
      <%= @panel %>
    </div>
  </section>
  
  <div class="one">
  </div>
  